* {
  margin: 0;
  padding: 0; }

@font-face {
  font-family: "graphiklcweb";
  src: url("../fonts/Graphik LC Web Regular/graphiklcweb"); }
body {
  background-color: #001A35;
  color: white;
  font-family: Arial; }
  body p {
    font-size: 18px; }
  body h1 {
    font-size: 48px;
    font-family: url(../fonts/Graphik\ LC\ Web\ Regular/graphiklcweb); }
  body h2 {
    font-size: 42px; }
  body h3 {
    font-size: 28px; }

header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-around; }
  header .header_img {
    height: 100%;
    width: 100%;
    padding-top: 40%; }
  header .header_butx2 {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly; }
    header .header_butx2 button {
      width: 168px;
      height: 66px;
      background-color: #49A8D433;
      margin: 20px 0px 20px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: left;
      border: none;
      color: white; }
  header .header_text {
    height: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px; }
  header .header_bigbut {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly; }
    header .header_bigbut button {
      width: 85%;
      height: 66px;
      background-color: #E4E541;
      margin: 20px 0px 20px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: none;
      font-size: 24px;
      font-weight: bold; }

.aboutus {
  height: 120%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .aboutus h3 {
    color: #A7C539;
    margin-bottom: 5%; }
  .aboutus .programm_img {
    margin: 15% 0 15% 0; }
  .aboutus .programm_text {
    margin-top: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly; }
  .aboutus .programm_button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly; }
    .aboutus .programm_button button {
      width: 85%;
      height: 66px;
      background-color: #E4E541;
      margin: 10% 0px 10% 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: none;
      font-size: 24px;
      font-weight: bold; }

.jobmarket {
  height: 120%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .jobmarket p {
    margin: 5% 0 5% 0; }
  .jobmarket h3 {
    color: #A7C539;
    margin-bottom: 5%; }
  .jobmarket .jobmarket_img {
    margin: 15% 0 15% 0; }
  .jobmarket .jobmarket_text {
    margin-top: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly; }
    .jobmarket .jobmarket_text a {
      color: #00BBCE; }
  .jobmarket .jobmarket_button {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly; }
    .jobmarket .jobmarket_button button {
      width: 85%;
      height: 66px;
      background-color: #E4E541;
      margin: 10% 0px 10% 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      border: none;
      font-size: 24px;
      font-weight: bold; }

footer {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  footer .footer_text {
    height: 50%;
    width: 100%;
    margin-top: 10%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-evenly; }
    footer .footer_text p {
      margin: 10%;
      font-size: 38px; }
    footer .footer_text .color {
      color: #E4E541; }
  footer .footer_form {
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; }
    footer .footer_form .footer_form_in {
      height: 50%;
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      background-color: #fff;
      margin: 10%; }
      footer .footer_form .footer_form_in .forma_footer {
        height: 20%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center; }
        footer .footer_form .footer_form_in .forma_footer input {
          width: 90%;
          height: 40px;
          margin-top: 10%;
          padding-left: 5%; }
        footer .footer_form .footer_form_in .forma_footer button {
          width: 96%;
          height: 66px;
          background-color: #E4E541;
          margin: 10% 0px 10% 0px;
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          border: none;
          font-size: 24px;
          font-weight: bold; }

/*# sourceMappingURL=main.css.map */
